.admin-registration-form div{
	width: 50%;
	display: inline-block;
	float: left;
}
div.admin-registration-form-select-other-details-checkbox-radio-select, div.admin-registration-form-select-other-details-text, div.admin-registration-form-select-other-details-textarea{
	width: 100%;
}
.admin-registration-form div select, .admin-registration-form div input[type=text], .admin-registration-form div input[type=select], .admin-registration-form div input[type=number]{
	width: 95%;
	display: inline-block;
	margin: 10px 2.5%;
}
.admin-registration-form div input[type=radio]{
	display: inline-block;
	margin: 5px 2.5% ;
}
.admin-registration-form div button{
	margin: 10px 0 !important;
}

@media screen and (max-width: 768px){
	.admin-registration-form div{
		width: 100%;
	}
}



.accordion {
    background-color: #d7d7d7;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel label{
	display: block;
}
.panel input[type=text], .panel select, .panel input[type=number]{
	width: 95%;
	margin: 10px 2.5%;
	display: block;
}
.panel input[type=radio]{
	display: inline-block;
	margin: 5px 2.5%;
}
.panel button{
	display: block;
}
.panel div{
	width: 50%;
	display: inline-block;
	float: left;
	padding: 2.5px 0;
}
.panel div:last-child{
	display: block;
	width: auto;
	margin: 5px;
}
@media screen and (max-width: 768px){
	.panel div{
		width: 100%;
	}
}


#registrations-form-sort li{
	padding: 10px;
	background-color: #d5d5d5;
	width: 95%;
	cursor: pointer;
}